PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=jfxuceveHVUV_KeMOB5lq65Yy-7mG9Ku
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
